.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.complete {
    text-decoration: line-through;
    color: #ccc;
    
}

.addToDo{
    border-radius: 10px;
}

.btnContainer{
    display: flex;
    justify-content: space-evenly;
}